body {
    background-color: $color-background;
    color: $color-white;
    //overflow-x: hidden;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: $bp-tab-land) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-mobile-lg) {
        font-size: 50%;
    }
}

.app {
    max-width: 1300px;
    margin: 0 auto;

    @media only screen and (max-width: $bp-desktop) {
        max-width: unset;
        margin: 0;

        display: grid;
        grid-template-columns: 35rem calc(90vw - 35rem - 5rem); 
        grid-template-rows: repeat(4, minmax(100vh, max-content));
        column-gap: 5rem;
    }

    @media only screen and (max-width: $bp-lap-lg) {
        grid-template-columns: 25rem calc(100vw - 25rem - 8rem - 15rem);
        column-gap: 8rem;
    }
    
    @media only screen and (max-width: $bp-lap) {
        display: grid;
        grid-template-columns: 90vw;
        padding: 0 2.5vw;
        grid-template-rows: 10rem calc(100vh - 10rem) repeat(3, minmax(100vh, max-content));
        gap: 0;
    }

    @media only screen and (max-width: $bp-mobile-lg) {
        grid-template-columns: 90vw;
        padding: 0 5vw;
        //column-gap: 8rem;
    }

    & > *:not(:first-child) {
        @media only screen and (max-width: $bp-lap) {
            max-width: 1400px;
        }

        @media only screen and (max-width: $bp-tab-land) {
            //padding: 0 5rem;
        }

        @media only screen and (max-width: $bp-tab-port) {
            //padding: 0 3rem;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            padding: 0;
        }
    }

}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color-grey-dark-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  $color-grey-light-1;
    border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  $color-grey-light-2;
}