// Color 
$color-primary: #0073C2;

$color-background: #393C45;

$color-grey-dark-1: #262931;
$color-grey-dark-2: #212430;

$color-grey-light-1: #868997;
$color-grey-light-2: #7C86AB;

$color-white: #FFFFFF;
$color-black: #000000;


// Font
$font-size-default: 1.6rem;

$font-family-default: 'montserrat', sans-serif;
$font-family-heading: 'fieldwork hum', sans-serif;
