// Color 
$color-primary: #0073C2;

$color-background: #393C45;

$color-grey-dark-1: #262931;
$color-grey-dark-2: #212430;

$color-grey-light-1: #868997;
$color-grey-light-2: #7C86AB;

$color-white: #FFFFFF;
$color-black: #000000;

$color-success: rgb(56, 211, 9);
$color-warning: rgb(211, 130, 9);
$color-error: rgb(211, 23, 9);


// Font
$font-size-default: 1.6rem;

$font-family-default: 'montserrat', sans-serif;
$font-family-heading: 'fieldwork hum', sans-serif;

// Box Shadow
$box-shadow-default: 0 .5rem 1.5rem rgba(#000, .15);
$box-shadow-hover: 0 .5rem 3rem rgba(#000, .2);
$box-shadow-active: 0 .5rem .5rem rgba(#000, .2);

// Breakpoints
$bp-largest: 125em;           // 2000px
$bp-desktop-lg: 125em;        // 2000px
$bp-desktop: 120em;           // 1920px

$bp-lap-lg: 100em;            // 1600px
$bp-lap: 90.625em;            // 1450px

$bp-tab-land: 71.875em;       // 1150px
$bp-tab-port: 62.5em;         // 1000px
$bp-tab-port-small: 50em;     //  800px

$bp-mobile-lg: 37.5em;        //  600px
$bp-mobile-sm: 25em;          //  400px
