// Color 
$color-primary: #0073C2;

$color-background: #393C45;

$color-grey-dark-1: #262931;
$color-grey-dark-2: #212430;

$color-white: #FFFFFF;


// Font
$font-size-default: 1.6rem;

$font-family-default: 'montserrat', sans-serif;
$font-family-heading: 'fieldwork hum', sans-serif;
