.contact {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        column-gap: 15rem;

        margin-top: 10rem;
        align-items: center;

        @include respond(mobile-lg) {
            margin-top: 5rem;
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
        }
    }

    &__illustration {
        width: 100%;

        @include respond(mobile-lg) {
            padding-top: 6rem;
        }
    }
}