.landingpage {
    position: relative;

    @include respond(laptop) {
        min-height: unset;
    }

    @include respond(mobile-lg) {
        display: grid;
        grid-template-columns: 1fr 35%;
        grid-template-rows: 0 1fr;
        margin-top: 5vh;
    } 

    @include respond(mobile-lg) {
        //grid-template-columns: 1fr;
        padding: 0 !important;
        box-sizing: border-box;
    }  
}