.portfolio {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    min-height: 100vh;
    margin: 20rem 0;

    @media only screen and (max-width: $bp-lap) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

