.work-experience {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 3rem;
    row-gap: .5rem;

    @include respond(tablet-port){
        column-gap: 2rem;
        row-gap: .5rem;
    }

    @include respond(mobile-lg){
        column-gap: 2rem;
        row-gap: .5rem;
    }

    &:not(:last-child) {
        margin-bottom: 5rem;


        @include respond(mobile-lg){
            margin-bottom: 3rem;
        }
    }

    &__period {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__workplace {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__description {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        font-weight: 200;
        color: rgba(#fff, .7)
    }

    &__city {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    &__period,
    &__workplace,
    &__city {
        font-weight: 500;
        font-size: 1.8rem;

        @include respond(mobile-lg){
            font-size: 1.6rem;
        }
    }
}