.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem minmax(100vh, 1fr) 5rem;
  row-gap: 5rem;

  @include responsive(tablet) {
    grid-template-columns: 35rem 1fr;
    grid-template-rows: minmax(100vh, 1fr) max-content;
  }

  /* @include respond(laptop-lg) {
    grid-template-columns: 30rem 1fr;
  }

  @include respond(laptop) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    // margin-top: 8rem;
  } */
}

.navigation {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.landingpage {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.portfolio {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.about {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.contact {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
